body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    text-align: center;
    color: white;
}

.container {
    background: white;
    color: black;
    width: 50%;
    margin: 80px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.3);
}

h1 {
    color: #764ba2;
}

button {
    background: #764ba2;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #667eea;
}

